body {
	font-family: sans-serif;
	color: #4a4a4a;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.5;
}

.order-title-detail{
	display: flex;
	gap: 120px;
}

.order-title {
	font-size: 20px;
	margin-bottom: 0px;
}

.order-time {
	font-size: 14px;
	margin-bottom: 0px;
}

.order-info-user {
	background: #fff;
	border-radius: 4px;
}

.order-info-user i {
	color: #2c5f9c
}

.order-info-user h5 {
	color: #222;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
}
.order-info-customer {
	display: flex;
	gap: 20px;
	align-items: center;
	padding-bottom: 20px;	
}

.order-info-customer span {
	color: #706666;
	font-size: 14px;
}

.order-info-customer p{
	color: #333;
	font-size: 14px;
	margin-bottom: 0px;
}