<footer class="bg-light text-dark pt-4 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h6 class="fw-bold">Tổng đài hỗ trợ</h6>
        <p>Gọi mua: <a href="tel:1900232460" class="text-primary">1900 232 460</a> (8:00 - 21:30)</p>
        <p> Khiếu nại: <a href="tel:18001062" class="text-primary">1800 1062</a> (8:00 - 21:30)</p>
        <p> Bảo hành: <a href="tel:1900232464" class="text-primary">1900 232 464</a> (8:00 - 21:00)</p>
      </div>
      <div class="col-md-3">
        <h6 class="fw-bold">Về công ty</h6>
        <p><a href="#">Giới thiệu công ty</a></p>
        <p><a href="#">Tuyển dụng</a></p>
        <p><a href="#">Gửi góp ý, khiếu nại</a></p>
        <p><a href="#">Tìm siêu thị</a></p>
      </div>
      <div class="col-md-3">
        <h6 class="fw-bold">Thông tin khác</h6>
        <p><a href="#">Tích điểm Quà tặng VIP</a></p>
        <p><a href="#">Lịch sử mua hàng</a></p>
        <p><a href="#">Đăng ký bán hàng CTV</a></p>
        <p><a href="#">Tìm hiểu về mua trả chậm</a></p>
        <p><a href="#">Chính sách bảo hành</a></p>
      </div>
      <div class="col-md-3 text-center">
        <h6 class="fw-bold">Website cùng tập đoàn</h6>
        <div class="d-flex flex-wrap justify-content-center">
          <img src="logo1.png" alt="logo" class="m-1" style="width: 50px; height: auto;">
          <img src="logo2.png" alt="logo" class="m-1" style="width: 50px; height: auto;">
          <img src="logo3.png" alt="logo" class="m-1" style="width: 50px; height: auto;">
        </div>
        <div class="social mt-3">
          <a href="#" class="text-primary me-2"><i class="fab fa-facebook"></i> 3886.8K Fan</a>
          <a href="#" class="text-danger"><i class="fab fa-youtube"></i> 872K Đăng ký</a>
        </div>
      </div>
    </div>
    <div class="text-center mt-4 pb-3 border-top pt-3">
      <p class="mb-1">© 2024. Công ty cổ phần Demo. Địa chỉ: 123 Đường ABC, TP.HCM</p>
      <p>Email: support@example.com | Chính sách sử dụng</p>
    </div>
  </div>
</footer>
