@using MyProject.Web.Models.Orders
@model FilterStatusOrderViewModel

@* @section Scripts  *@
@* { *@
@* 	<script src="~/view-resources/Views/Home/Profile.js"></script> *@
@* } *@

<div class="card p-3">
	<h4>Đơn hàng đã mua</h4>
	<div class="d-flex mb-3 justify-content-between">
		<a href="#" data-status="5" class="btn btn-outline-secondary btn-status">Tất cả</a>
		<a href="#" data-status="0" class="btn btn-outline-secondary btn-status">Chờ xử lý</a>
		<a href="#" data-status="1" class="btn btn-outline-secondary btn-status">Đã xác nhận</a>
		<a href="#" data-status="2" class="btn btn-outline-secondary btn-status">Đang giao hàng</a>
		<a href="#" data-status="3" class="btn btn-outline-secondary btn-status">Đã hủy</a>
		<a href="#" data-status="4" class="btn btn-outline-secondary btn-status">Thành công</a>
	</div>

	<div id="orderList">
		@await Html.PartialAsync("FilterOrder", Model)
	</div>
</div>




